.bg-layout-wrapper {
  min-height: 100vh;
  width: 100%;
  background-image: url('../assets/background.jpg'); 
  background-size: cover;
  padding-top: 20px; /* so content doesn't hide behind navbar */
}