.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(58, 151, 182);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* handles the parent class of gif logo*/
.logo{
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    height: auto;
    width: auto;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-left: 80px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

/*handles gif sizing*/
.logo-gif{
    width : 400%;
    height: 400%;
    
    margin-right: 10px;
}